.alerta {
    padding: .5rem;
    text-align: center;
    color: white;
    font-weight: $bold;
    margin: 1rem 0;

    &.error {
        background-color: red;
    }

    &.exito {
        background-color: $verde;
        word-spacing: 10px;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;

    thead {
        background-color: rgb(200, 196, 191);
        
        th {
            color: black;
            padding: 2rem;
        }
    }
}

.imagen-small {
    width: 10rem;
}